body
{
background-color: black;
color: darkcyan;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
margin: 0;
padding: 0;
}
#container
{
width: 80%;
padding: 2em;
border-bottom: 3px solid #fafa;
border-right: 10px solid #FFF233;
border-left: 10px solid #33BEFF;
border-top: 3px solid #FF8533;
text-align: center;
margin: 0 auto;
}
#container h1
{
    font-size: 35px;
    color: red;
}
#container span
{
    text-align: left;
    font-size: 15px;
}
#cabecera
{
    background-color: rgb(156, 160, 153);
    font-weight: bold;
    margin: 0em;
    padding: 1em 0 1em 2em;
    color: ghostwhite;
    text-align: left;
    font-size: 2em;
}
#cabecera #logo
{
    width: 40px;
}
#footer
{
    text-align: center;
    background-color: darkgrey;
    color: rgb(255, 255, 255);
    padding-top: 0.5em;
    padding-bottom: 0.1em;    
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}